

/* Adds some basic theming to the video thumbnailer output */

.video-thumbnailer-container {
	margin: 10px;
	padding: 10px;
	border: 1px solid #cccccc;
}

.video-thumbnailer-thumb {
	float: left;
	margin: 3px;
	padding: 2px;
	border: 1px solid #cccccc;
}

.video-thumbnailer-container br {
	clear: both;
}

/* hides the other size field */
.thumbnailer-size-other{
  display: none;
}